/* B CSS Свойство position может принимать 5Tb значений:
relative (относительное)
absolute (абсолютное)
fixed (фиксированный)
sticky (липкий)
static (статический) по умолчанию */

/* относительное позиционирование (position: relative;)
Элементы располагаются относительно собственной позиции (сдвиг на основе стандартного месторасположения)
Относительно позиционированные элементы берутся из нормального потока, однако оказывают влияние на расположение элементов по соседству,
которые ведут себя будто в потоке этот элемент существует.
Для того, чтобы позиционирование дочернего элемента выполнялось относительно родительского, для первого необходимо указать свойство position:
а для второго- position: relative; */

/* Абсолютное позиционирование (position: absolute;)
Данный тип позиционирования удаляет элемент в общем потоке документа. Окружающие элементы игнорируют его,
будто ему присвоено значение display: none; Элемент позиционируется относительно самого близкого родительского элемента. В случае если ближайший элемент отстутствует, позиционирование происходит относительно основного документа */

/* фиксированное позиционирование (position: fixed;)
Фиксировано позиционируемый элемент всегда игнорирует родительский элемент и располагается относительно окна браузера.
При пролистывании страницы, элемент не смещается(зафиксирован.) Прменяется данный тип позиционирования для создания вкладок, меню, заголовков и прочих элементов, которые должны быть видны пользователю сайта */

/* Липкое позиционирование (position: sticky;)
Наделяет наш блок гибридным состоянием между position: static; и position: fixed;
Превращает наш элемент из статического состояния в липкое, в тот момент, когда при скролле-верхняя граница браузера, достигнет его положения*/

/* статическое позиционирование (position: static;) свойство не прописываеся, так как является типом позиционирования-по умолчанию */

.block{
    border: 5px solid red;
    max-width: 800px;
    height: 15500px;
    margin: 0 auto;
    position: relative;
}

.block div {
    text-align: center;
    font-size: 18px;
    line-height: 50px;
    font-weight: 700;
}

.block_1{
    background-color: #ece89d;
}

.block_2{
    background-color: #5e5373;
    color: #fff;
    position: sticky;
    top: 0px;
    right:0px; 
    /* width: 100%; */
}
.block_3{
    background-color: #18b5a4;
    /* position: relative; */

}

.block_4{
    background-color: lime;
}

.block_5{
    background-color: orchid;
    position: sticky;
}